<body>
  <h1 class="createSuccess">Cập nhật hợp đồng thành công</h1>
  <h2 class="createSuccess">Vui lòng chờ admin xét duyệt</h2>
  <h4 class="createSuccess"><a href="/user/logout">Quay về trang chủ</a></h4>
</body>