<!-- Footer Section Begin -->
<hr />
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Tình hình hiện nay</h5>

        <p>
          Trước tình hình diễn biến phức tạp hiện nay, đặc biệt là tại các thành
          phố lớn người dân được yêu cầu hạn chế ra ngoài nhằm tránh sự lây lan
          dịch bệnh. Để phù hợp với điều kiện sống mới nhiều người đã tìm đến
          các dịch vụ đi chợ online nhằm đảm bảo giãn cách xã hội mà vẫn đảm bảo
          vấn đề lương thực cho gia đình.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Chúng tôi hiện tại và tương lai</h5>

        <p>
          Dịch vụ ĐI CHỢ THUÊ được biết đến là ứng dụng giúp những người phụ nữ
          bận rộn loại bỏ gánh nặng công việc nội trợ. Chúng tôi cung cấp dịch
          vụ đi chợ thuê để hỗ trợ khách hàng chọn mua những thực phẩm tươi ngon
          nhất cho gia đình của mình. Liệt kê danh sách cần mua, và lựa chọn địa
          điểm. Sau khi đặt lịch, các cộng tác viên của chúng tôi sẽ vào nhận
          việc và đi chợ giùm bạn.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="#">dichothue.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer Section End -->